<tr id="replaceMe">
    <td colspan="3">
        <button class='btn' hx-get="/contacts/?page=2" 
                            hx-target="#replaceMe" 
                            hx-swap="outerHTML">
            Load More Agents... <img class="htmx-indicator" src="/img/bars.svg">
        </button>
    </td>
</tr> 