{% extends 'base.html.twig' %}


{% block body %}

            <div id="main-wrapper">
                    <div class="site-wrapper-reveal">
                        <div class="hero-area-two-wrapper">
                            <!-- Hero Area Start -->
                            <div class="hero-area-two hero-area-overly">
                                <div class="container">
                                    <div class="col-lg-12">
                                        <div class="hero-area--two-innter text-center">
                                            <h2><span class="hero-title-small">ACCROCHE</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Hero Area End -->
                    </div>
                </div>
            </div>

            {% include 'home/pagination.html.twig' %}

{% endblock %}
