{% extends 'base.html.twig' %}

{% block body %}

	<div class='c'>
		<div class='_404'>403</div>
		<hr>
		<div class='_2'>Vous n'êtes pas autorisé à consulter cette page.</div>
		<br/>
		<a class='btn-404' href='{{ path('app_home') }}'>RETOUR A L'ACCUEIL</a>
	</div>

{% endblock %}
