<!-- Modal -->
<div class="modal fade" id="modal-{{ modalId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Suppression de la figure</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Confirmez-vous la suppression de la figure ?
			</div>
			<div class="modal-footer">
				<a href="{{ btn_url }}" class="btn  btn-outline-danger">{{ btn_label }}</a>
			</div>
		</div>
	</div>
</div>
