{% extends 'base.html.twig' %}


{% block body %}

	<div class='c'>
		<div class='_404'>404</div>
		<hr>
		<div class='_2'>La page que vous recherchez n'est pas disponible.</div>
		<br/>
		<a class='btn-404' href='{{ path('app_home') }}'>RETOUR A L'ACCUEIL</a>
	</div>

{% endblock %}